body {
  margin: 0;
}
h1 {
  margin-top: 0;
}
.top-container {
  background-color: #e4f9f5;
  height: 200px;
  width: 200px;
  border: solid;
  border-width: 10px;
  border-color: black;
}
.middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
  border: solid;
  border-width: 20px;
  border-color: black;
  margin-left: 218px;
}
.bottom-container {
  background-color: blue;
  height: 200px;
  width: 200px;
  border: solid;
  border-width: 10px;
  border-color: black;
  margin-left: 458px;
}
